.login-bg {
    background: linear-gradient(45deg,#ff8a00, #e52e71);
    width:100vw;
    height:100%;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

#quiz_main{
    background-color: white;
    width: 30vw;
    margin: 20vh auto;
    padding: 10vh 0 10vh 0;
    border-radius: 5%;
    box-shadow: 0 4px 10px -2px rgba(0,0,0,0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}